body{background-color:#000000}
body{color:#ffffff}

a:link{
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}
a:visited{
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}
a:hover{
    color: rgb(0, 255, 0);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}
a:active{
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}
